.image-size {
    width: 100%; /* O un tamaño específico que prefieras */
    max-width: 200px; /* Establece un ancho máximo para las imágenes */
    height: 100px; /* Mantiene la proporción de la imagen */
  }